name: freebsd.yml
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        platform:
          - arch: x86-64
            os-version: 13.2
            artifact: freebsd-x86_64
    runs-on: ubuntu-24.04
    name: Build for FreeBSD ${{ matrix.platform.arch }} (${{ matrix.platform.os-version }})
    steps:
      - uses: actions/checkout@v5
      - name: Run on FreeBSD ${{ matrix.platform.arch }} (${{ matrix.platform.os-version }})
        uses: cross-platform-actions/action@v0.29.0
        with:
          operating_system: freebsd
          version: ${{ matrix.platform.os-version }}
          shell: bash
          run: |
            # Setup environment
            sudo pkg install -y openssh-portable cmake zip unzip gmake makedepend git bison flex perl5 pkgconf llvm \
              python3 ruby libXxf86vm freetype2 gtk2 gtk3 pango gperf apache-ant openjdk17
            export JAVA_HOME=/usr/local/openjdk17
            export CC=/usr/bin/clang
            export CXX=/usr/bin/clang++
            export PATH="$JAVA_HOME/bin:$PATH"
            
            # Show environment info
            env | sort
            which java
            java -version
            which ant
            ant -version
            clang -v
            
            # Build project
            sh ./gradlew -version
            sh ./gradlew --info -PCOMPILE_MEDIA=true buildModules all
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform.artifact }}
          path: |
            build/artifacts/bundles/
            build/publications/
